# ======================
# Environnement
# ======================
.env
.env.*
venv/
__pycache__/
*.py[cod]
# ======================
# Django
# ======================
*.log
local_settings.py
media/
staticfiles/
# ======================
# IDE / OS
# ======================
.vscode/
.idea/
*.swp
.DS_Store
# ======================
# Tests / Coverage
# ======================
htmlcov/
.coverage
.pytest_cache/